.classify-menu
  width 100%
  overflow auto
  .menu-tabs
    overflow auto
    display block
    .tab
      OPAQUE_AQUA = rgba(48, 154, 156, 0.3)
      text-transform uppercase
      letter-spacing 1px
      font-weight 600
      color rgba(255, 255, 255, 0.8)
      background-color OPAQUE_AQUA
      width 25%
      display inline-block
      text-align center
      float left
      height 50px
      line-height 50px
      font-size 12px
      overflow auto
      user-select none
      cursor pointer
      transition font-size .5s
      img
        vertical-align sub
        margin-right 15px
      &:hover
        background-color darken(AQUA, 3)
      &.active
        background-color AQUA
        color #fff
      @media screen and (max-width: 900px)
        img
          display none
        font-size 0px
        &:nth-child(1)
          background OPAQUE_AQUA url("./icons/tut.svg") no-repeat center center
        &:nth-child(2)
          background OPAQUE_AQUA url("./icons/guide.svg") no-repeat center center
        &:nth-child(3)
          background OPAQUE_AQUA url("./icons/location.svg") no-repeat center center
        &:nth-child(4)
          background OPAQUE_AQUA url("./icons/favorite.svg") no-repeat center center
        &.active
          background-color AQUA
        &#favorites
          &.favorited
            background-color LIME_GREEN
      &#favorites
        &.favorited
          color LIME_GREEN
  .menu-content
    .menu-section
      background-color AQUA
      text-align center
      position relative
      h1
        margin 0
        padding 20px 0
      button.location-btn
        height 130px
        margin 20px 5px 30px 5px
        border-radius 5px
        padding 0 40px
        font-size 18px
        font-weight 800
        color #fff
        text-transform uppercase
        letter-spacing 2px
        background-color #1e7779
        transition background-color .1s
        &:hover
          background-color darken(#1e7779, 2)
        &.selected, &:active
          background-color LIME_GREEN
        @media screen and (max-width: 900px)
          height 60px
          padding 0 20px
          font-size 14px
          clear both
          transition all 1s
    #field-guide
      padding-bottom 40px
      h1
        font-size 36px
      .guide-item
        width 250px
        height 250px
        position relative
        display inline-block
        border-radius 50%
        margin 20px
        @media screen and (max-width: 900px)
          display block
          margin 20px auto
        p
          @extend .capitalized-text
          margin 0
          position absolute
          bottom 0px
          width 250px
          text-align center
          margin -10px 0 20px 0
        &.clouds
          background url("./images/clouds-1.jpg")
        &.kelp
          background url("./images/kelp-before1.jpg")
          transition background 0.5s
          &:hover
            background url("./images/kelp-marked1.jpg")
        &.kelp-alt
          background url("./images/kelp-marked2.jpg")
          transition background 0.5s
          &:hover
            background url("./images/kelp-before2.jpg")
  .preload
    display none !important
