.classify-menu
  width 100%
  overflow auto
  .menu-tabs
    overflow auto
    display block
    .tab
      color rgba(255, 255, 255, 0.8)
      background-color rgba(0, 72, 91, 0.7)
      width 25%
      display inline-block
      text-align center
      float left
      height 50px
      text-transform uppercase
      line-height 50px
      font-size 12px
      font-weight 700
      overflow auto
      user-select none
      cursor pointer
      transition font-size .5s
      &:hover
        background-color rgba(0, 72, 91, 0.9)
      &.active
        background-color AQUA
        color #fff
      @media screen and (max-width: 900px)
        font-size 9px
  .menu-content
    .menu-section
      background-color AQUA
      text-align center
      position relative
      h1
        margin 0
        padding 20px 0
      button.location-btn
        height 130px
        margin 20px 5px 30px 5px
        border-radius 5px
        padding 0 40px
        font-size 18px
        font-weight 800
        color #fff
        text-transform uppercase
        letter-spacing 2px
        background-color #1e7779
        &:hover
          background-color darken(#1e7779, 2)
        &.selected, &:active
          background-color LIME_GREEN

