@import url(http://fonts.googleapis.com/css?family=Open\+Sans:400,300,700,800)
// escape the '+' character in font @import

LIME_GREEN = #b9d663
TURQ = #4ed1ff
AQUA = #34a6a8
MARINE = #00485b
OPAQUE_MARINE = rgba(0, 72, 91, 0.7)

SUBJECT_HEIGHT = 484
SUBJECT_WIDTH = 532
LEFT_OFFSET = -(SUBJECT_WIDTH / 2)
LEFT_OFFSET_ADJUST = 50

.capitalized-text
  text-transform uppercase
  font-weight 700
  letter-spacing 2px

@import 'secondary-pages'
@import 'tutorial'
@import 'classify-menu'

#readymade
  -webkit-font-smoothing: antialiased
  font-family 'Open Sans' sans-serif
  button
    outline none
    border 0
    &:hover
      cursor pointer

  .home-content
    display none

  &[data-location-hash="#/"]
    .readymade-main-stack
      margin-top 200px

    .readymade-site-background
      opacity 1
      &:after
        display none

    .home-content
      height 850px
      padding-top 185px
      display block !important
      background-color #fff
      color AQUA
      overflow auto
      h2, p
        width 60%
        @media screen and (max-width: 900px)
          width 100%
      p
        line-height 2em
      h2
        @extend .capitalized-text
        font-size 18px

  &[data-location-hash="#/classify"]
  &[data-location-hash="#/about"]
  &[data-location-hash="#/education"]
    .readymade-main-stack
      margin 0
      width auto

  .readymade-frame-controls
    display none

  .readymade-main-stack
    overflow auto
    min-height 500px

  .readymade-discuss-page
    width auto

  .readymade-site-background-effect
    display none

  .readymade-site-header
    transition background-color 0.5s ease

  .readymade-site-background
    opacity 0.8
    &:after
      content ""
      background-color AQUA
      opacity 0.7
      height 100%
      width 100%
      position absolute

  .readymade-project-producer
    display none

  .readymade-project-title
    font-size 14px
    font-weight 700
    letter-spacing 2px

  .readymade-project-description
    max-width 720px
    font-weight 300
    font-size 14px
    display inline-block
    margin-bottom 20px

  .readymade-project-summary
    max-width 900px
    font-size 50px
    font-weight  800
    text-transform uppercase
    letter-spacing 5px
    margin-bottom 80px

  .readymade-site-link
    text-transform none
    font-weight 400
    font-size 14px
    opacity 0.5
    letter-spacing 0px
    &:hover
      background transparent
    &.active
      opacity 1
      background-color transparent
    &:nth-child(1) // hide home link
      display none
    &:active
      color LIME_GREEN

  .readymade-classifier
    overflow hidden
    #location-data
      font-size 14px
      text-align center
      margin 50px auto 0 auto
      a
        color #fff
        text-decoration none
        &:hover
          text-decoration underline
      h2
        @extend .capitalized-text
        font-size 14px
        margin-bottom 5px
      p
        font-weight 400
        margin 0 0 10px 0
    .readymade-decision-tree-container
      display block
      width unit(SUBJECT_WIDTH, 'px')
      margin 0 auto
      .decision-tree
        padding 0 !important
        button[name="decision-tree-go-back"]
          display none
        button[name="decision-tree-confirm-task"]
          display inline-block
          float left
          height 50px
          font-weight 800
          font-size 16px
          width 50%
          margin 0
          border 2px solid LIME_GREEN
          background-color LIME_GREEN
          &:hover
            background-color darken(LIME_GREEN, 5)
          &:disabled
            opacity 1
        .decision-tree-question
          display none
        .decision-tree-choice
          display none
        .decision-tree-confirmation
          width unit(SUBJECT_WIDTH, 'px')
          overflow auto
          margin 30px 0
        .decision-tree-task
          display block !important // prevent decision tree from blinking in between subjects
    .readymade-subject-viewer-container
      width 100%
      padding 0
      border-radius 0px
      min-height unit(SUBJECT_HEIGHT, 'px')
      position relative
      display block
      background none
      .marking-surface
        height unit(SUBJECT_HEIGHT, 'px')
        width unit(SUBJECT_WIDTH, 'px')
        cursor url("cursor.svg"), auto
      .summary-overlay
        height unit(SUBJECT_HEIGHT, 'px')
        width unit(SUBJECT_WIDTH, 'px')
        background-color OPAQUE_MARINE
        position absolute
        top 0px
        left unit(LEFT_OFFSET - LEFT_OFFSET_ADJUST, 'px')
        transition-property margin-left, left
        transition-duration 1.0s
        text-align left
        z-index 1
        @media screen and (max-width: 1070px)
          left -800px
        h1
          font-size 28px
        p
          margin 30px 0 0 0
          &.bold-data
            margin 0
            font-size 20px
            font-weight 800
        a
          display inline-block
          border 2px solid #fff
          color #fff
          border-radius 5px
          padding 0 10px
          height 40px
          line-height 40px
          margin-top 30px
          &:hover
            cursor pointer
            background-color #fff
            color MARINE
        .prev-image
          position absolute
          top 0px
          right 0px
          height unit(SUBJECT_HEIGHT, 'px')
          z-index -1
        .content
          width 150px
          height 100%
          position absolute
          top 0px
          left 80%
          margin-left -75px
          text-align left
          transition all 1s
        &.centered
          left 50%
          margin-left unit(LEFT_OFFSET, 'px')
          .content
            left 50%
            text-align center
        &.mobile-done
          left -600px
        &.offscreen-left
          left -800px
        &:after
          content ""
          background-color MARINE
          opacity 0.7
          height 100%
          width 100%
          top 0px
          position absolute
          z-index -1
      .readymade-subject-viewer
        width unit(SUBJECT_WIDTH, 'px')
        margin 0 auto
      .left-image, .right-image
        position absolute
        top 0px
        transition all 1s ease
      .right-image
        left 50%
        width unit(SUBJECT_WIDTH, 'px')
        height unit(SUBJECT_HEIGHT, 'px')
        margin-left unit(LEFT_OFFSET, 'px')
        transition-property all
        transition-duration 1.0s
        right auto
        pointer-events none
        img
          height unit(SUBJECT_HEIGHT, 'px')
          width unit(SUBJECT_WIDTH, 'px')
        .right-image-overlay
          background-color OPAQUE_MARINE
          position absolute
          opacity 0.7
          height 100%
          width 100%
          transition all 1s
          &.invisible
            opacity 0
        &.right
          left 100%
          margin-left unit(LEFT_OFFSET + LEFT_OFFSET_ADJUST, 'px')
          &.offscreen-right
            margin-left unit((SUBJECT_WIDTH / 2) + LEFT_OFFSET_ADJUST , 'px')
          @media screen and (max-width: 1070px)
            left 100%
            margin-left unit(SUBJECT_WIDTH / 2, 'px')
  .readymade-home-page
    text-shadow none
    .readymade-footer
      display inline
    .readymade-call-to-action
      @extend .capitalized-text
      background-color LIME_GREEN
      color #fff
      box-shadow none
      border-radius 5px
      height 40px
      line-height 40px
      font-size 10px
      padding 0 20px
      &:hover
        background-color darken(LIME_GREEN, 5)

  .side-btn
    width 25%
    display inline-block
    overflow auto
    float left
    text-align center
    button
      @extend .capitalized-text
      width 100px
      letter-spacing 1px
      font-size 14px
      border 2px solid transparent
      border-radius 5px
      display inline-block
      height 50px
      transition-property background-position, background-color
      transition-duration 0.5s
      transition-timing-function ease
    #clouds-present
      float left
      background transparent
      border 2px solid #fff
      color #fff
      background url('./icons/clouds-txt.svg') no-repeat 50% -30px, url('./icons/cloud.svg') no-repeat center
      &.present
        background url('./icons/clouds-txt.svg') no-repeat 50% -30px, TURQ url('./icons/cloud.svg') no-repeat center
        &:hover
          background url('./icons/clouds-txt.svg') no-repeat 50% -30px, TURQ url('./icons/cloud.svg') no-repeat center
      &:hover
        background url('./icons/clouds-txt.svg') no-repeat center, url('./icons/cloud.svg') no-repeat 50% 80px
    #undo
      float right
      border 2px solid #fff
      display inline-block
      background url('./icons/undo-txt.svg') no-repeat 50% -30px, url('./icons/undo.svg') no-repeat center
      &:hover
        background url('./icons/undo-txt.svg') no-repeat center, url('./icons/undo.svg') no-repeat 50% 80px
      &:active
        background-color #fff
  .zooniverse-profile
    .sign-in-form
      header
        font-size 36px
        font-weight 300
      .action
        button
          background-color LIME_GREEN
          color #fff
          box-shadow none
    .no-account
      button[name="sign-up"]
        background none
        border none
        color #fff
        font-size 13px

  .zooniverse-footer
    FOOTER_WIDTH = 80%
    background-color rgba(0,0,0,0.7)
    a
      color #9d9d9d
      transition color 0.2s ease
      &:hover
        color LIME_GREEN
    span
      color #565857
    .zooniverse-logo-container
      padding 50px 0
      display block
      width 100%
      text-align center
      .zooniverse-logo
        width 100px
        height 100px
    .zooniverse-footer-heading
      text-align center
      font-size 20px
      width FOOTER_WIDTH
      margin 0 auto
    .zooniverse-footer-projects
      padding-top 50px
      overflow auto
      width FOOTER_WIDTH
      margin 0 auto
      .zooniverse-footer-category
        float left
        width 25%
        a
          text-decoration none
        @media screen and (max-width: 720px)
          width 100%
          text-align center
    .zooniverse-footer-general
      width 80%
      margin 0 auto
      padding 20px 0
      .zooniverse-footer-category
        display inline
        margin-right 10px
        font-size 12px
        a
          text-decoration none

  // nav responsiveness
  @media screen and (max-width: 900px)
    .readymade-site-header
      background-color rgba(185, 214, 99, 0.67)
    .readymade-site-links
      margin 20px 0 0 0
      padding-bottom 20px
    .zooniverse-info.piece
      span
        display none
  @media screen and (max-width: 630px)
    .readymade-site-links
      display block
      .readymade-site-link
         padding 0
         margin-right 10px

  ::selection
    color #fff
    background AQUA
  ::-moz-selection
    color #fff
    background AQUA
