LIME_GREEN = #b9d663
TURQ = #4ed1ff
AQUA = #34a6a8
MARINE = #00485b

SUBJECT_HEIGHT = 390px
SUBJECT_WIDTH = 429px
LEFT_OFFSET = -250px

@import 'secondary-pages'

#readymade
  font-family 'Open Sans' sans-serif
  button
    outline none
    border 0
    &:hover
      cursor pointer

  .home-content
    display none

  &[data-location-hash="#/"]
    .readymade-main-stack
      margin-top 200px

    .readymade-site-background
      opacity 1
      &:after
        display none

    .home-content
      height 850px
      padding-top 185px
      display block !important
      background-color #fff
      color AQUA
      overflow auto
      h2, p
        width 60%
        @media screen and (max-width: 900px)
          width 100%
      p
        line-height 2em
      h2
        text-transform uppercase
        font-size 18px
        font-weight 700
        letter-spacing 2px

  &[data-location-hash="#/classify"]
  &[data-location-hash="#/about"]
    .readymade-main-stack
      margin 0
      width auto

  .readymade-frame-controls
    display none

  .readymade-main-stack
    overflow auto
    min-height 500px

  .readymade-discuss-page
    width auto

  .readymade-site-background-effect
    display none

  .readymade-site-header
    transition background-color 0.5s ease

  .readymade-site-background
    opacity 0.8
    &:after
      content ""
      background-color AQUA
      opacity 0.5
      height 100%
      width 100%
      position absolute

  .readymade-project-producer
    display none

  .readymade-project-title
    font-size 14px
    font-weight 700
    letter-spacing 2px

  .readymade-project-description
    font-weight 300
    font-size 14px
    display inline-block
    margin-bottom 20px

  .readymade-project-summary
    font-size 50px
    font-weight  800
    text-transform uppercase
    letter-spacing 5px
    margin-bottom 80px

  .readymade-site-link
    text-transform none
    font-weight 400
    font-size 14px
    opacity 0.5
    &:hover
      background transparent
    &.active
      opacity 1
    &:nth-child(1)
      display none

  .readymade-classifier
    overflow hidden
    #classify-header
      font-size 36px
      margin 20px auto
      width 90vw
      font-weight 300
    #location-data
      font-size 14px
      text-align center
      margin 0 auto
      h2
        font-size 14px
        text-transform uppercase
        letter-spacing 0.1em
        font-weight 600
        margin-bottom 5px
      p
        font-weight 400
        margin 0 0 10px 0
    .readymade-decision-tree-container
      display block
      width SUBJECT_WIDTH
      margin 0 auto
      .decision-tree
        padding 0 !important
        button[name="decision-tree-go-back"]
          display none
        button[name="decision-tree-confirm-task"]
          display block
          height 60px
          font-weight 800
          font-size 18px
          width 100%
          margin-top 40px
          border none
          background-color LIME_GREEN
          &:hover
            background-color darken(LIME_GREEN, 5)
        .decision-tree-question
          display none
        .decision-tree-choice
          display none
        .decision-tree-confirmation
          width SUBJECT_WIDTH
          overflow auto
          margin-top 20px
        .decision-tree-task
          display block !important // prevent decision tree from blinking in between subjects
    .readymade-subject-viewer-container
      width 100%
      padding 0
      border-radius 0px
      min-height 395px
      position relative
      display block
      background none
      .marking-surface
        height SUBJECT_HEIGHT
        width SUBJECT_WIDTH
      .summary-overlay
        height SUBJECT_HEIGHT
        width SUBJECT_WIDTH
        background-color rgba(0, 72, 91, 0.7)
        position absolute
        top 0px
        left -250px
        transition-property margin-left, text-align, left
        transition-duration 1.0s
        text-align left
        z-index 1
        @media screen and (max-width: 900px)
          left -600px
        h1
          font-size 28px
        p.bold-data
          font-size 20px
          font-weight 800
        a
          border 2px solid #fff
          color #fff
          border-radius 5px
          padding 10px
          &:hover
            cursor pointer
        .prev-image
          position absolute
          top 0px
          right 0px
          height SUBJECT_HEIGHT
          z-index -1
        .content
          width 35%
          float right
          margin-right -5px
        &.centered
          left 50%
          margin-left -214px
          .content
            width 100%
            text-align center
        &.mobile-done
          left -530px
        &:after
          content ""
          background-color MARINE
          opacity 0.7
          height 100%
          width 100%
          position absolute
          z-index -1
      .readymade-subject-viewer
        width SUBJECT_WIDTH
        margin 0 auto
      .left-image, .right-image
        position absolute
        top 0px
        transition all 1s ease
      .right-image
        right -250px
        @media screen and (max-width: 900px)
          right -600px

  .readymade-home-page
    text-shadow none
    .readymade-footer
      display inline
    .readymade-call-to-action
      background-color LIME_GREEN
      color #fff
      box-shadow none
      border-radius 5px
      text-transform uppercase
      height 40px
      line-height 40px
      letter-spacing 2px
      font-size 10px
      padding 0 20px
      &:hover
        background-color darken(LIME_GREEN, 5)

  #custom-buttons
    margin-bottom 10px
    .third
      width 33%
      display inline-block
      overflow auto
      float left
      text-align center
      button
        width 100px
        font-weight 800
        font-size 14px
        border 2px solid transparent
        border-radius 5px
        display inline-block
        text-transform uppercase
        height 50px
        &:hover
          opacity 0.8
      #clouds-present
        background-color TURQ
        color #fff
        width 40px
        height 40px
        border-radius 50%
        transition 0.5s all ease
        &.present
          background-color #fff
          color TURQ
      #undo, #map
        margin-top 10px
        border 2px solid #fff
        background-color transparent
        display inline-block
        color #fff
        &:active
          color TURQ
          border-color TURQ

  .zooniverse-profile
    .sign-in-form
      .action
        button
          background-color LIME_GREEN
          color #fff
          box-shadow none
    .no-account
      button[name="sign-up"]
        background none
        border none
        color #fff
        font-size 13px

  .zooniverse-footer
    FOOTER_WIDTH = 80%
    background-color rgba(0,0,0,0.7)
    a
      color #9d9d9d
      transition color 0.2s ease
      &:hover
        color LIME_GREEN
    span
      color #565857
    .zooniverse-logo-container
      padding 50px 0
      display block
      width 100%
      text-align center
      .zooniverse-logo
        width 100px
        height 100px
    .zooniverse-footer-heading
      text-align center
      font-size 20px
      width FOOTER_WIDTH
      margin 0 auto
    .zooniverse-footer-projects
      padding-top 50px
      overflow auto
      width FOOTER_WIDTH
      margin 0 auto
      .zooniverse-footer-category
        float left
        width 25%
        a
          text-decoration none
        @media screen and (max-width: 720px)
          width 100%
          text-align center
    .zooniverse-footer-general
      width 80%
      margin 0 auto
      padding 20px 0
      .zooniverse-footer-category
        display inline
        margin-right 10px
        font-size 12px
        a
          text-decoration none

  // nav responsiveness
  @media screen and (max-width: 900px)
    .readymade-site-header
      background-color rgba(185, 214, 99, 0.67)
    .readymade-site-links
      margin 20px 0 0 0
      padding-bottom 20px
    .zooniverse-info.piece
      span
        display none
  @media screen and (max-width: 630px)
    .readymade-site-links
      display block
      .readymade-site-link
         padding 0
         margin-right 10px

  ::selection
    color #fff
    background AQUA
  ::-moz-selection
    color #fff
    background AQUA
