.secondary-header
  margin 0 auto
  max-width 1090px
  height 150px
  font-size 20px
  color #fff
  padding 0 5vw
  h1
    line-height 150px
    font-size 40px
.secondary-bg
  background-color rgba(0,0,0,0.4)
  padding 0 5vw 50px 5vw
  min-height 730px
  overflow auto
  .secondary-content
    margin 0 auto
    max-width 1090px
    color #DFDFDF
    nav
      margin-bottom 40px
      button
        height 60px
        color #DFDFDF
        font-size 16px
        font-weight 300
        padding 0 10px
        background-color transparent
        transition background-color 0.2s
        &.active
          color #fff
          background-color AQUA
    h1
      font-weight 300
      font-size 36px
      margin-bottom 30px
      color #fff
    h2
      margin 0 0 10px 0
      font-style italic
      font-size 14px
      font-weight 700
      color #515151
    p
      line-height 1.5em
      font-size 16px
      font-weight 300
      margin-bottom 20px
    img
      width 100%
    a
      color LIME_GREEN
      text-decoration underline
      font-style italic
    .left-column, .right-column
      float left
    .left-column
      width 66%
      .content
        padding-right 30px
    .right-column
      width 33%
      button
        width 100%
        margin 20px 0
        height 60px
        font-size 14px
        border-radius 5px
        color #fff
        text-transform uppercase
        font-weight 800
        letter-spacing 2px
        background-color LIME_GREEN

@media screen and (max-width: 820px)
  .secondary-bg
    .secondary-content
      .right-column, .left-column
        width 100%
        .content
          padding 0
