#user-goals
  display none
  position absolute
  top 200px
  width 400px
  min-height 230px
  background-color #fff
  color MARINE
  padding 10px
  left 50%
  margin-left -205px
  text-align center
  box-shadow 10px 10px rgba(34, 34, 34, 0.540)
  z-index 100
  &.feedback-image
    top 75px

  h1
    font-size 20px
    &.user-goal-set
      margin 0
      line-height 230px
    &.user-goal-feedback-message
      margin-top 90px
      line-height 1.2em

  img
    width 100%

  form
    margin 10px 0

  button
    &[name='user-goal-submit']
      @extend .capitalized-text
      background-color LIME_GREEN
      color #fff
      box-shadow none
      border-radius 5px
      height 40px
      line-height 40px
      font-size 10px
      padding 0 20px
      &:hover
        background-color darken(LIME_GREEN, 5)
    &[name='user-goal-close']
      position absolute
      top 5px
      right 5px
      margin 0
      background AQUA
