#user-goals
  position absolute
  top 200px
  width 400px
  height 230px
  background-color MARINE
  left 50%
  margin-left -200px
  text-align center
  border-radius 5px
  h1
    font-size 20px

  form
    margin 10px 0

  button
    &[name='user-goal-submit']
      @extend .capitalized-text
      background-color LIME_GREEN
      color #fff
      box-shadow none
      border-radius 5px
      height 40px
      line-height 40px
      font-size 10px
      padding 0 20px
      &:hover
        background-color darken(LIME_GREEN, 5)
    &[name='user-goal-close']
      position absolute
      top 5px
      right 5px
      margin 0
      background none