#readymade
  .readymade-classifier
    overflow hidden
    #location-data
      font-size 14px
      text-align center
      margin 50px auto 0 auto
      a
        color #fff
        text-decoration none
        &:hover
          text-decoration underline
      h2
        @extend .capitalized-text
        font-size 14px
        letter-spacing 1px
        margin-bottom 5px
      p
        font-weight 400
        margin 0 0 10px 0
